.border{
    border-radius: 10px;
    margin: 5px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.flow-cp {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}  
.color{
    background-color: rgb(40,40,40);
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.overflow{
    overflow: visible;
}
.hidden{
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Set the track (background) color */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Set the thumb (slider) color */
    border-radius: 10px; /* Optional: rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888; /* Change the thumb color on hover */
}
.width{
    width: 400px;
}
.cursor{
    cursor: pointer;
}