/* General utility classes for layout and design */

.border-radius-10 {
    border-radius: 10px;
    margin: 5px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.font-roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.bg-dark {
    background-color: rgb(40, 40, 40);
}

.margin-5 {
    margin: 5px;
}

.padding-10 {
    padding: 10px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #333; 
}

::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.width-400 {
    width: 400px;
}

.cursor-pointer {
    cursor: pointer;
}